@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: rgb(10, 10, 58);
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width:100%; 
  height:1px; 
  background-color:#707070; 
  border:none; 
  opacity: 0.8;
}

.center {
  text-align: center;
}
.vertical-align {
  height: 1.5rem;
  line-height: 1.5rem;
}

.flex-container {
  display: flex;
}
.flex-0-25 {
  flex: .25;
}
.flex-0-5 {
  flex: .5;
}
.flex-0-75 {
  flex: .75;
}
.flex-1 {
  flex: 1;
}
.flex-1-25 {
  flex: 1.25;
}
.flex-1-5 {
  flex: 1.5;
}
.flex-1-75 {
  flex: 1.75;
}
.flex-2 {
  flex: 2;
}
.flex-2-5 {
  flex: 2.5;
}
.flex-3 {
  flex: 3;
}
.flex-3-5 {
  flex: 3.5;
}
.flex-4 {
  flex: 4;
}
.flex-4-5 {
  flex: 4.5;
}
.flex-5 {
  flex: 5;
}

.mt-0-25 {
  margin-top: .25rem;
}
.mt-0-5 {
  margin-top: .5rem;
}
.mt-0-75 {
  margin-top: .75rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1-25 {
  margin-top: 1.25rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-1-75 {
  margin-top: 1.75rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2-5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-3-5 {
  margin-top: 3.5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-4-5 {
  margin-top: 4.5rem;
}
.mt-5 {
  margin-top: 5rem;
}

.ml-0-25 {
  margin-left: .25rem;
}
.ml-0-5 {
  margin-left: .5rem;
}
.ml-0-75 {
  margin-left: .75rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-1-25 {
  margin-left: 1.25rem;
}
.ml-1-5 {
  margin-left: 1.5rem;
}
.ml-1-75 {
  margin-left: 1.75rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-2-5 {
  margin-left: 2.5rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-3-5 {
  margin-left: 3.5rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-4-5 {
  margin-left: 4.5rem;
}
.ml-5 {
  margin-left: 5rem;
}

.mr-0-25 {
  margin-right: .25rem;
}
.mr-0-5 {
  margin-right: .5rem;
}
.mr-0-75 {
  margin-right: .75rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-1-25 {
  margin-right: 1.25rem;
}
.mr-1-5 {
  margin-right: 1.5rem;
}
.mr-1-75 {
  margin-right: 1.75rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-2-5 {
  margin-right: 2.5rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-3-5 {
  margin-right: 3.5rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-4-5 {
  margin-right: 4.5rem;
}
.mr-5 {
  margin-right: 5rem;
}

.mb-0-25 {
  margin-bottom: .25rem;
}
.mb-0-5 {
  margin-bottom: .5rem;
}
.mb-0-75 {
  margin-bottom: .75rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1-25 {
  margin-bottom: 1.25rem;
}
.mb-1-5 {
  margin-bottom: 1.5rem;
}
.mb-1-75 {
  margin-bottom: 1.75rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2-5 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-3-5 {
  margin-bottom: 3.5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-4-5 {
  margin-bottom: 4.5rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.fs-0-25 {
  font-size: .25rem;
}
.fs-0-5 {
  font-size: .5rem;
}
.fs-0-75 {
  font-size: .75rem;
}
.fs-1 {
  font-size: 1rem;
}
.fs-1-25 {
  font-size: 1.25rem;
}
.fs-1-5 {
  font-size: 1.5rem;
}
.fs-1-75 {
  font-size: 1.75rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-2-5 {
  font-size: 2.5rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-3-5 {
  font-size: 3.5rem;
}
.fs-4 {
  font-size: 4rem;
}
.fs-4-5 {
  font-size: 4.5rem;
}
.fs-5 {
  font-size: 5rem;
}
.fs-6 {
  font-size: 6rem;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}


.ls-0-25 {
  letter-spacing: .25rem;
}
.ls-0-5 {
  letter-spacing: .5rem;
}
.ls-0-75 {
  letter-spacing: .75rem;
}
.ls-1 {
  letter-spacing: 1rem;
}
.ls-1-25 {
  letter-spacing: 1.25rem;
}
.ls-1-5 {
  letter-spacing: 1.5rem;
}
.ls-1-75 {
  letter-spacing: 1.75rem;
}
.ls-2 {
  letter-spacing: 2rem;
}
.ls-2-5 {
  letter-spacing: 2.5rem;
}
.ls-3 {
  letter-spacing: 3rem;
}
.ls-3-5 {
  letter-spacing: 3.5rem;
}
.ls-4 {
  letter-spacing: 4rem;
}
.ls-4-5 {
  letter-spacing: 4.5rem;
}
.ls-5 {
  letter-spacing: 5rem;
}
.nls-0-25 {
  letter-spacing: -.25rem;
}
.nls-0-5 {
  letter-spacing: -.5rem;
}
.nls-0-75 {
  letter-spacing: -.75rem;
}
.nls-1 {
  letter-spacing: -1rem;
}
.nls-1-25 {
  letter-spacing: -1.25rem;
}
.nls-1-5 {
  letter-spacing: -1.5rem;
}
.nls-1-75 {
  letter-spacing: -1.75rem;
}
.nls-2 {
  letter-spacing: -2rem;
}
.nls-2-5 {
  letter-spacing: -2.5rem;
}
.nls-3 {
  letter-spacing: -3rem;
}
.nls-3-5 {
  letter-spacing: -3.5rem;
}
.nls-4 {
  letter-spacing: -4rem;
}
.nls-4-5 {
  letter-spacing: -4.5rem;
}
.nls-5 {
  letter-spacing: -5rem;
}

.fc-gray {
  color: rgb(164, 164, 164);
}